# Python and Streamlit `.gitignore` template
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook files
.ipynb_checkpoints/

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Model files
models/
*.h5
*.joblib
